homeassistant/fall_detection_nodered.json
[
    {
        "id": "f2649a1cf5ba0c9c",
        "type": "tab",
        "label": "Fall Detection / Detekce pádu",
        "disabled": false,
        "info": "ESP32-S3 Fall Detection → iOS Notification\nESP32-S3 Detekce pádu → iOS Oznámení"
    },
    {
        "id": "05d638fbc92171d5",
        "type": "server-state-changed",
        "z": "f2649a1cf5ba0c9c",
        "name": "Fall Sensor State / Stav senzoru pádu",
        "server": "",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": ["binary_sensor.YOUR_FALL_DETECTION_ENTITY"],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [],
        "x": 190,
        "y": 220,
        "wires": [
            ["162aa2c0948c1cd1", "960a13d7c782f383", "a6cec262153705cb"],
            []
        ]
    },
    {
        "id": "162aa2c0948c1cd1",
        "type": "debug",
        "z": "f2649a1cf5ba0c9c",
        "name": "unsafe",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "Fall detected! / Pád detekován!",
        "statusType": "auto",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "960a13d7c782f383",
        "type": "api-call-service",
        "z": "f2649a1cf5ba0c9c",
        "name": "iOS Notification / Oznámení",
        "server": "",
        "version": 7,
        "debugenabled": true,
        "action": "notify.mobile_app_YOUR_DEVICE",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"🚨 Fall Alert! / Pád!\",\"message\":\"ESP32-S3 detected a possible fall event. Please confirm safety. / ESP32-S3 detekoval možný pád. Potvrďte bezpečnost.\",\"data\":{\"push\":{\"sound\":{\"name\":\"default\",\"critical\":1,\"volume\":1.0}}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "notify",
        "service": "mobile_app_YOUR_DEVICE",
        "x": 540,
        "y": 220,
        "wires": [
            ["1b6cec55fe8a93e4"]
        ]
    },
    {
        "id": "a6cec262153705cb",
        "type": "api-call-service",
        "z": "f2649a1cf5ba0c9c",
        "name": "HA Persistent / Trvalé",
        "server": "",
        "version": 7,
        "debugenabled": false,
        "action": "persistent_notification.create",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"Fall Detection Alert / Upozornění na pád\",\"message\":\"Node-RED: ESP32-S3 triggered fall alert / ESP32-S3 spustil upozornění na pád\",\"notification_id\":\"fall_alert\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "persistent_notification",
        "service": "create",
        "x": 540,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1b6cec55fe8a93e4",
        "type": "debug",
        "z": "f2649a1cf5ba0c9c",
        "name": "Result / Výsledek",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "369b3d979abf4c2e",
        "type": "comment",
        "z": "f2649a1cf5ba0c9c",
        "name": "Instructions / Pokyny",
        "info": "## Fall Detection Node-RED Flow\n## Detekce pádu Node-RED Flow\n\n### Setup / Nastavení:\n1. Import this flow / Importujte tento flow\n2. Configure HA server / Nakonfigurujte HA server\n3. Verify entity_id / Ověřte entity_id\n4. Deploy / Nasaďte\n\n### Debug / Ladění:\n- Check Debug panel / Zkontrolujte Debug panel\n- Verify service: `notify.mobile_app_iphonep`",
        "x": 180,
        "y": 360,
        "wires": []
    },
    {
        "id": "c715a74ff4a5d046",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]
